body
{
    background:url('img 1.png')no-repeat center/contain;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 50px;
}
.container
{ 
    width:30%;
    margin:auto;
    padding: 20px 40px;
    border-radius: 20px;
    border: 3px lavender;
}
.About
{
    font-style: oblique;
    font-size: medium;
    font-weight: bolder;
    color: rgb(2, 1, 10);
    margin-top: 15px;
    margin-bottom: 15px;
}
.quote
{
    background-color: rgb(245, 147, 208);
    padding: 10px;
    margin: 5px;
    border-left: solid rgb(174, 10, 180);
    font-style: oblique;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}
.Author
{
    display:flex;
    background-color: rgb(244, 169, 220);
    padding: 5px;
    border-radius: 20px;
    border: outset purple;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    font-style: 30px;
    color: rgb(2, 1, 8);
    flex-direction: row;
}
.Author img
{
    width:100px;
    height:100px;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
    border:5px rgb(146, 54, 243);
    color: rgb(240, 66, 167);
}
.PUBLISHER
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 20px;
    background-color: palevioletred;
    color: black;
    border-radius: 12px;
    text-align: center;
    font-weight: 200;
    font-style: oblique;
}